{
  "extends": "airbnb/base",
  "parser": "babel-eslint",
  "env": {
    "mocha": true,
    "node": false
  },
  "rules": {
    "comma-dangle": [2, "always-multiline"],
    "max-len": [1, 200],
    "no-loop-func": 0
  }
}
