{
  "sourceMap": false,
  "instrument": false,
  "exclude": [
    "**/*.spec.js",
    "src/external_modules"
  ],
  "check-coverage": true,
  "reporter": [
    "lcov",
    "text",
    "text-summary"
  ],
  "require": [
    "./config/mocha-setup.js"
  ],
  "lines": 95,
  "statements": 95,
  "functions": 95,
  "branches": 80
}
